
<div class="container">

    <ul class="tabs">
        <li class="tab current" data-tab="tab-1"><h1>Home</h1></li>
        <li class="tab" data-tab="tab-2">Présentation</li>
        <li class="tab" data-tab="tab-3">Menu</li>
        <li class="tab" data-tab="tab-4">Contact</li>
    </ul>

    <div id="tab-1" class="tab-content current">
      <center>
        <div id="carrousel">
            <ul>
                <li><%= image_tag "img1.jpg", :style => "width:50%" %></li>
                <li><%= image_tag "img3.jpg", :style => "width:50%" %></li>
                <li><%= image_tag "img5.jpg", :style => "width:50%" %></li><br>
            </ul>
        </div>
      </center>
    </div>

    <div id="tab-2" class="tab-content presentation">
        <br><br><h2>VIP KEBAB</h2>

        <span class="text-description"><br><br><p>Les secrets de cuisine ancestraux de VIP KEBAB ont traversé plusieurs millénaires. Nous, fondateurs de VIP KEBAB, avons appris le feu ainsi que les techniques de cuissons aux premiers hommes. Nous avons créé le Guide Michelin et avons disséminé ses saveurs aux quatres coins du globe.</p></span>

    </div>

    <div id="tab-3" class="tab-content menu">

      <span class="text-description"><br><br><br><p>Nous préparerons chaque met à votre convenance. </p>

      <p> <important>VIP KEBAB</important> ne dispose donc point de menu.</p></span>

    </div>

    <div id="tab-4" class="tab-content">

        <span class="text-description"><br><br><br><p>Notre clientèle étant triée et sélectionnée par nos propres soins, veuillez noter que nous n'acceptons pas de nouveau client. </p>

        <p>Si vous êtes un client régulier et que vous avez perdu nos contacts, veuillez consulter votre dernière facture.</p></span>

    </div>

</div><!-- container -->
