.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

#carrousel ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style:none;
}

#carrousel ul li {
  width: 100%;
}
