html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
    width: 700px;
    margin: 0 auto;
}

.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background:#2c3e50;
    border-bottom: 5px #e67e22 solid;
}

.tabs li{
    display: inline-block;
    margin:0;
    padding: 10px 20px 5px 20px;
    cursor: pointer;

    font-size:1.2em;
    line-height:2em;
    color:#FFF;
}

.tabs li:hover {
    background:#d35400;
    }

.tabs li.current{
    background: #e67e22;
    color: #FFF;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;

    line-height:1.4;
}

.tab-content.current{
    display: inherit;
}

@media only screen and ( max-width: 400px ) {
    .tabs li {
        display: block;
    }
}
