// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tab-2, #tab-3, #tab-4 {
  min-height: 334.35px;
  text-align: center;
}

h2{
  text-align: center;
}

text-description{
  font-weight: bold;
}
