<!DOCTYPE html>
<html>
  <head>
    <title>VIP KEBAB - Startup FoodTech</title>
    <meta property="og:title" content="VIP KEBAB - Startup FoodTech" />
    <meta property="og:url" content="https://the-foodtech.herokuapp.com/" />
    <meta property="og:description" content="Les secrets de cuisine ancestraux de VIP KEBAB ont traversé plusieurs millénaires. Nous, fondateurs de VIP KEBAB, avons appris le feu ainsi que les techniques de cuissons aux premiers hommes. Nous avons créé le Guide Michelin et avons disséminé ses saveurs aux quatres coins du globe." />
    <meta property="og:image" content="<%= image_path 'thp-logo.png' %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="showSlides(slideIndex)" class="wrapper">
    <%= yield %>

    <script type="text/javascript">
      $(window).load(function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
      });
    </script>
  </body>
</html>
